@import url(https://fonts.googleapis.com/css?family=Montserrat);

p,
button,
select,
footer {
	font-family: Montserrat;
}

#rawdata {
	margin-right: 10px;
}

a {
	color: white;
	cursor: pointer;
}

html {
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(91, 132, 229);

	overflow: hidden;
}

.container {
	min-height: calc(100vh - 80px);
	padding: 5% 10%;
}

#info {
	float: right;

	font-family: Montserrat;
	color: rgba(41, 45, 62);
}

.CodeMirror {
	width: 100%;
	height: 60vh;
	font-size: 15px;
	box-shadow: 0px 0px 10px rgba(41, 45, 62);
	margin-bottom: 15px;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler {
	display: none !important;
}

.hue {
	display: flex;
	float: right;
}

.button {
	padding: 10px 20px;
	background-color: rgba(41, 45, 62);
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.button:hover,
select:hover,
select:focus {
	border: none;
	background-color: rgba(69, 77, 112, 0.96);
}

select {
	background-color: rgba(41, 45, 62);
	transition: background-color 0.3s ease-in-out;

	color: white;
	width: 100%;
	font-size: 16px;

	border: none;
	outline: none;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;

	margin-right: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	/* background-color: rgba(0, 0, 0, 0.020); */

	padding: 20px;
	text-align: center;
	color: rgba(255, 255, 255, 0.589);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	.hue {
		display: block;
		float: none;
	}

	#info {
		float: right;

		font-size: 30px;
		font-family: Montserrat;
		color: rgba(41, 45, 62);
	}

	.CodeMirror {
		font-size: 30px;
		height: 65vh;
	}

	select {
		margin-right: 0;
		margin-bottom: 5px;
		text-align: center;

		font-size: 30px;

		padding: 30px 40px !important;
	}

	.button {
		margin-right: 0;
		margin-bottom: 5px;

		width: 100%;

		font-size: 30px;
		padding: 30px 40px !important;
	}

	footer {
		font-size: 30px;
	}
}